@page "/podcasts/feed.xml"
@attribute [RenderStatic]
@inject MarkdownPodcasts Podcasts
@{
    Layout = "_LayoutEmpty";
    Response.ContentType = MimeTypes.Xml;
}
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
    <title>@Podcasts.Config.Title</title>
    @Html.Raw($"<link>{Podcasts.Config.PublicBaseUrl}/blog</link>")
    <description>@Podcasts.Config.Description</description>
@if (Podcasts.Config.ImageUrl != null)
{
    <image>
        <url>@Podcasts.Config.ImageUrl</url>
        <title>@Podcasts.Config.Title</title>
        @Html.Raw($"<link>{Podcasts.Config.PublicBaseUrl}/podcasts</link>")
    </image>
}
    <generator>razor-ssg</generator>
    <copyright>@Podcasts.Config.CopyrightOwner</copyright>
    <lastBuildDate>@DateTime.UtcNow.ToString("R")</lastBuildDate>
    <managingEditor>@Podcasts.Config.Email</managingEditor>
    <webMaster>@Podcasts.Config.Email</webMaster>
    <atom:link href="@Podcasts.Config.PublicBaseUrl.CombineWith("feed.xml")" rel="self" type="application/rss+xml" />
@foreach (var post in Podcasts.GetEpisodes().Take(10))
{
    var author = Podcasts.Authors.FirstOrDefault(x => x.Name == post.Author);
    <item>
        <title>@post.Title</title>
        @Html.Raw($"<link>{Podcasts.Config.PublicBaseUrl.CombineWith("posts", post.Slug)}</link>")
        <author>@author?.Email (@author?.Name)</author>
        <guid isPermaLink="false">@Podcasts.Config.PublicBaseUrl.CombineWith("posts", post.Slug)</guid>
        <pubDate>@post.Date!.Value.ToString("R")</pubDate>
        <atom:updated>@post.Date!.Value.ToUniversalTime().ToString("yyyy-MM-dd'T'HH:mm:ssZ")</atom:updated>
        @foreach (var tag in post.Tags.Safe())
        {
        <category>@tag</category>
        }
        @if (post.Summary != null)
        {
        <description>@post.Summary</description>
        }
        else
        {
        <description>@Html.Raw($"<![CDATA[ {post.Preview} ]]>")</description>
        }
    </item>
}
</channel>
</rss>