@page
@model MyApp.Pages.Shared.Hero

<div class="bg-white dark:bg-black">
    <div class="relative pb-32 bg-gray-800">
        <div class="absolute inset-0">
            <img class="w-full h-full object-cover" src="@Model.BackgroundUrl" alt="">
            <div class="absolute inset-0 bg-gray-800 mix-blend-multiply @Model.BackgroundClass" aria-hidden="true"></div>
        </div>
        
        <div class="relative mx-auto max-w-4xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8" style="@Model.ContentStyle">
            <div class="max-w-2xl">
                <h1 class="font-bold tracking-tight text-white text-4xl lg:text-6xl">@Model.Heading</h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">@Model.SubHeading</p>
                @if (Model.ActionUrl != null)
                {
                    <div class="buttons my-8">
                        <a href="@Model.ActionUrl"
                           class="cursor-pointer text-2xl font-normal bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-6 py-3 inline-block text-blue-100 rounded">
                            @Model.ActionText
                        </a>
                    </div>
                }
            </div>
            @if (Model.Content != null)
            {
                @Html.Raw(Model.Content)
            }
        </div>
    </div>
</div>

