@page
@model MyApp.Pages.Shared.VideoHero


<div class="bg-white dark:bg-black">
    <div class="relative pb-32 bg-gray-800">
        <div class="absolute inset-0">
            <img class="w-full h-full object-cover" src="@Model.BackgroundUrl" alt="">
            <div class="absolute inset-0 bg-gray-800 mix-blend-multiply @Model.BackgroundClass" aria-hidden="true"></div>
        </div>
        
        <div class="relative mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8 flex flex-wrap justify-center gap-x-8" style="min-height:713px">
            <div class="max-w-2xl">
                <h1 class="font-bold tracking-tight text-white text-4xl lg:text-6xl">@Model.Heading</h1>
                <p class="mt-6 leading-8 text-gray-300 sm:text-xl lg:text-lg xl:text-xl">@Model.SubHeading</p>
                @if (Model.ActionUrl != null)
                {
                    <div class="buttons my-8">
                        <a href="@Model.ActionUrl"
                           class="cursor-pointer text-2xl font-normal bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-6 py-3 inline-block text-blue-100 rounded">
                            @Model.ActionText
                        </a>
                    </div>
                }
            </div>
            @if (Model.YoutubeId != null)
            {
                <div class="align-top" style="width:560px;height:315px">
                    <lite-youtube width="560" height="315" videoid="@Model.YoutubeId"
                                  style="background-image: url('https://img.youtube.com/vi/@Model.YoutubeId/maxresdefault.jpg')"></lite-youtube>
                </div>
            }
        </div>
    </div>
</div>

