@page
@model MyApp.Pages.Shared.VideoHero

<div class="bg-gray-900">
    <div class="relative isolate overflow-hidden" style="height:52.6em">
        <div class="absolute w-full h-full" style="background-image:url('@Model.BackgroundUrl')">
            <div class="w-full h-full flex justify-center items-center backdrop-brightness-50"></div>
        </div>
        
        <div class="absolute mx-auto w-full py-12 lg:py-56 flex flex-wrap justify-center gap-x-8">
            <div class="max-w-2xl">
                <h1 class="font-bold tracking-tight text-white text-4xl lg:text-6xl">@Model.Heading</h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">@Model.SubHeading</p>
                @if (Model.ActionUrl != null)
                {
                    <div class="buttons my-8">
                        <a href="@Model.ActionUrl"
                           class="cursor-pointer text-2xl font-normal bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-6 py-3 inline-block text-blue-100 rounded">
                            @Model.ActionText
                        </a>
                    </div>
                }
            </div>
            @if (Model.YoutubeId != null)
            {
                <div class="align-top" style="width:560px;height:315px">
                    <lite-youtube width="560" height="315" videoid="@Model.YoutubeId"
                                  style="background-image: url('https://img.youtube.com/vi/@Model.YoutubeId/maxresdefault.jpg')"></lite-youtube>
                </div>
            }
        </div>
            
        <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
            <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678">
                <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".2" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"/>
                <defs>
                    <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#9089FC"/>
                        <stop offset="1" stop-color="#FF80B5"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678">
                <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".2" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"/>
                <defs>
                    <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#9089FC"/>
                        <stop offset="1" stop-color="#FF80B5"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
</div>

